img{
    width: 100%;
    border: 4px, solid, burlywood;
}
body{
    background-color: antiquewhite;
    font-size: 25px;
}
.box{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 20%;
}
h1{
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    font-size: 1em;
}
p{
    font-family: "Winky Sans", sans-serif;
    font-size: 0.7em;
}
